<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Polls Central</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>
<body>

<h1>{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
{% if has_voted %}
<br />
<label>You have already voted for this poll, thanks for your participation!</label>
<br />
<a href="{% url 'polls:results' poll.id %}">See results</a>
{% else %}
<input type="submit" value="Vote" />
{% endif %}
</form>

<a href="{% url 'polls:index' %}">Back to Polls list</a>
<a href="{% url 'polls:logout' %}">Log Out</a>

</body>
</html>