<!DOCTYPE html>
<html>
<head>
    <title>Poll System Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'polls:login' %}" method="POST">
        <label>Username</label>
        <input type="text" name="username" />
        <br />
        <label>Password</label>
        <input type="password" name="password" />
        <br />
        <input type="submit" value="Login" />
        {% csrf_token %}
    </form>
</body>
</html>